<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Custumer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Custumer</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Método Router Link</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Router Link
    </ion-card-content>
  </ion-card>
  <ion-button routerLink="/home">Ir a Home</ion-button>
  <ion-button routerLink="/servicios">Ir a Servicios</ion-button>
  <ion-button routerLink="/ayuda">Ir a Ayuda</ion-button>

  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-label>{{ item }}</ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
