<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">servicios</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Metodo NavController</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      NavController is a simple navigation controller that can be used to navigate between pages. It is a part of Angular Router.
    </ion-card-content>
  </ion-card>
  <ion-button (click)="gthome()">Ir a Home</ion-button>
  <ion-button (click)="gtcustumer()">Ir a Custumer</ion-button>
  <ion-button (click)="gtayuda()">Ir a Ayuda</ion-button>
</ion-content>
