<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ayuda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ayuda</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Metodo RouterNavigate</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      RouterNavigate 
    </ion-card-content>
  </ion-card>
  <ion-button (click)="gthome()">Ir a Home</ion-button>
  <ion-button (click)="gtserv()">Ir a Servicios</ion-button>
  <ion-button (click)="gtcustumer()">Ir a Custumer</ion-button>
</ion-content>
